@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
}

/*===========Layout==========*/
body{
    margin: 0;
    font-family: "kumbh Sans",sans-serif;
    font-size: 18px;
    color: var(--Very-dark-desaturated-blue);
    overflow: hidden;
}
section{
    background: var(--Dark-cyan);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    min-height: 100%;
    max-width: 100%;
    background-color: #ffffff;
    text-align: center;
    position: relative;
    border-radius: 16px;
    box-shadow:transparent;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid hsl(225, 4%, 80%);
    margin: 1.8em 0 0;
} 
.footer-content{
    margin: .5em 0;
    line-height: .1;
}



/*=========Typography=========*/
.image-holder{
    
}
.profile-image{
    border-radius: 60px;
    border: 5px solid #ffffff;
    position: absolute;
    top: 5em;
    right: 7em;
}
.body{
    line-height: .2;
}
.header-image{
    border-radius: 16px 16px 0 0;
}
.profile-name{
    margin: 4.2em 0 0;
    font-size: 1.2rem;
}
span{
    color: var(--Dark-grayish-blue);
    font-weight: 500;
    margin-left:.3em;
}
.profile-location{
    color: var(--Dark-grayish-blue);
    font-size: 1rem;
    margin-top: 1.5em;
    font-weight: 500;
}
.footer-content-para{
    color: var(--Dark-grayish-blue);
    font-weight: 500;
    font-size: .7rem;
}

/*==========background-images======*/

.circle-img1,
.circle-img2{
    position: absolute;
}
.circle-img1{
    top: -35em;
    left: -40em;
}
.circle-img2{
    bottom: -34em;
    right: -38em;
}


@media (min-width:576px){
    .circle-img1,
    .circle-img2{
        position: absolute;
    }
    .circle-img1{
        top: -38em;
        left: -10em;
    }
    .circle-img2{
        bottom: -34em;
        right: -16em;
    }
}

